bin/
vendor/
pkg/galasaapi/
p*.yaml
r*.yaml
r*.json
r*.xml
junit.xml
.vscode/
tools/
build/
.idea/
temp*/
run.sh
**/.DS_Store
.DS_Store
# Ignore Gradle project-specific cache directory
.gradle
.dependencies
# Ignore Gradle build output directory
build
pkg/embedded/templates/lib/
**/*.jar

