plugins {
    id 'java'
    id 'dev.galasa.obr' version '0.15.0'
}

group = '{{ .Parent.GroupId }}'
version = '0.0.1-SNAPSHOT'

dependencies {
{{- range $module := .Modules }}
    bundle project(':{{ $module.Name }}')
{{- end }}
}