<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
     <pluginGroups>
         <pluginGroup>dev.galasa</pluginGroup>
     </pluginGroups>
     
     <profiles>
         <profile>
             <id>galasa</id>
             <activation>
                 <activeByDefault>true</activeByDefault>
             </activation>
             <repositories>
                 <repository>
                     <id>galasa.repo</id>
                     <url>https://repo.maven.apache.org/maven2/</url>
                     <!-- To use the bleeding edge version of galasa, use the development obr
                     <url>https://development.galasa.dev/main/maven-repo/obr</url> -->
                 </repository>
             </repositories>
             <pluginRepositories>
                 <pluginRepository>
                     <id>galasa.repo</id>
                     <url>https://repo.maven.apache.org/maven2/</url>
                     <!-- To use the bleeding edge version of galasa, use the development obr
                     <url>https://development.galasa.dev/main/maven-repo/obr</url> -->
                 </pluginRepository>
             </pluginRepositories>
         </profile>
     </profiles>
</settings>