{{/*	
	This template expects the following parameters:

	type ParentPomParameters struct {
		Coordinates MavenCoordinates

		// Version of Galasa we are targetting
		GalasaVersion string

		IsOBRRequired    bool
		ObrName          string
		ChildModuleNames []string
		IsDevelopment    bool 
	}
*/}}
// This section tells gradle which gradle plugins to use to build this project.
plugins {
    id 'java'
    id 'maven-publish'
    id 'dev.galasa.tests' version '{{.GalasaVersion}}'
    id 'biz.aQute.bnd.builder' version '6.4.0'
}

// This section tells gradle where it should look for any dependencies
repositories {
    mavenLocal()
    mavenCentral()

    {{- if .IsDevelopment }}
    // To use the bleeding edge version of galasa's obr plugin, use the development obr
    maven {
        url 'https://development.galasa.dev/main/maven-repo/obr'
    }
    {{- else }}
    // To use the bleeding edge version of galasa's obr plugin, use the development obr
    // maven {
    //    url 'https://development.galasa.dev/main/maven-repo/obr'
    // }
    {{- end }}

}

// Set the variables which will control what the built OSGi bundle will be called
// and the name it will be published under in the maven repository.
group = '{{ .Parent.GroupId }}'
version = '0.0.1-SNAPSHOT'

// What are the dependencies of the test code ? 
// When more managers and dependencies are added, this list will need to grow.
dependencies {
    implementation platform('dev.galasa:galasa-bom:{{.GalasaVersion}}')

    implementation 'dev.galasa:dev.galasa'
    implementation 'dev.galasa:dev.galasa.framework'
    implementation 'dev.galasa:dev.galasa.core.manager'
    implementation 'dev.galasa:dev.galasa.artifact.manager'
    implementation 'commons-logging:commons-logging'
    implementation 'org.assertj:assertj-core'
}

// Tell gradle to publish the built OSGi bundles as maven artifacts on the 
// local maven repository.
publishing {
    publications {
        maven(MavenPublication) {
            from components.java
        }
    }
}